Body, html {
margin: 0;    
padding: 0;
height: 100%;
}

.landing {
height:100vh;
width:100%;
background-image: url("wallpaper.jpg");    
background-size: cover;
background-position: center;
background-repeat: no-repeat;

display: flex;
justify-content: center;
align-items: center;
}

@media (max-width: 600px) {
    .landing {
        background-image: url("wallpaper-mobile.jpg");
    }
}

h1 {
    font-size: 10vw;
    color: white;
    text-shadow: 0 0 20px black;
}